Understanding the distribution of COVID-Relief funds in San Diego and predicting impact of future distribution in minority communities

Import Necessary library

In [2]:
import pandas as pd 
import numpy as np 
import seaborn as sns
sns.set(style='white', palette='muted', color_codes=True)
import plotly.express as px 
import io 
import matplotlib.pyplot as plt
plt.style.use('ggplot')

Import the file

In [7]:
data = pd.read_csv(r'C:\Data-Analysis\Provider\HHS_San_Diego.csv')

In [8]:
data

                                            Provider Name  ...    Payment
0                                   BRANDON ASTIN DMD LLC  ...  $113,026
1                                        ELIZABETH WATNEY  ...      $724
2                        HAPPY VALLEY ASSISTED LIVING LLC  ...   $12,664
3                             A HAND UP BEHAVIOR SERVICES  ...    $1,191
4                         A JOINT EFFORT PHYSICAL THERAPY  ...   $25,480
...                                                   ...  ...        ...
420917                                 JEFFRIES DENTAL,PC  ...   $25,776
420918  UROLOGICAL SERVICES OF NORTHERN WYOMING PROFES...  ...    $8,883
420919                               WORLAND PHARMACY INC  ...      $137
420920                           WORLAND PHYSICAL THERAPY  ...   $11,498
420921                      WORLAND SLEEP DIAGNOSTICS LLC  ...    $2,009

[420922 rows x 4 columns]

In [26]:
san = ['AK', 'CA']

In [27]:
new_san = data[data.State.isin(san)]

In [28]:
new_san

                          Provider Name State          City    Payment
0                 BRANDON ASTIN DMD LLC    AK  ANCHOR POINT  $113,026
1                      ELIZABETH WATNEY    AK  ANCHOR POINT      $724
2      HAPPY VALLEY ASSISTED LIVING LLC    AK  ANCHOR POINT   $12,664
3           A HAND UP BEHAVIOR SERVICES    AK     ANCHORAGE    $1,191
4       A JOINT EFFORT PHYSICAL THERAPY    AK     ANCHORAGE   $25,480
...                                 ...   ...           ...        ...
70148                 VALARIE CARPENTER    CA  YUCCA VALLEY    $1,682
70149                   YANE DAVID LEVY    CA  YUCCA VALLEY   $56,327
70150              YOONHO CHANG DDS INC    CA  YUCCA VALLEY   $80,913
70151   YUCCA FAMILY MEDICAL CARE, INC.    CA  YUCCA VALLEY  $209,926
70152      YUCCA VALLEY URGENT CARE INC    CA  YUCCA VALLEY    $5,676

[53214 rows x 4 columns]

In [32]:
san_cou = ['ALPINE', 'BONITA', 'BOULEVARD', 'CAMPO', 'CHULA VISTA', 'DESCANSO', 'DULZURA', 'GUATAY', 'IMPERIAL BEACH', 'JACUMBA', 'JAMUL', 'LA MESA', 'LEMON GROVE', 'LINCOLN ACRES', 'NATIONAL CITY', 'PINE VALLEY', 'POTRERO', 'SPRING VALLEY', 'TECATE', 'BONSALL', 'BORRENGO SPRINGS', 'OCOTILLO WELLS', 'CARDIFF BY THE SEA', 'CARLSBAD', 'DEL MAR', 'EL CAJON', 'ENCINITAS', 'ESCONDIDO', 'FALLBROOK', 'JULIAN', 'LA JOLLA', 'LAKESIDE', 'OCEANSIDE', 'CAMP PENDLETON', 'PALA', 'PALOMAR MOUNTAIN', 'PAUMA VALLEY', 'POWAY', 'RAMONA', 'RANCHITA', 'WARNER SPRINGS', 'RANCHO SANTA FE', 'SAN RUIS REY', 'SAN MARCOS', 'SANTA YSABEL', 'SANTEE', 'SOLANA BEACH', 'SAN MARCOS', 'VISTA', 'VALLEY CENTER', 'FALLBROOK', 'EL CAJON', 'RANCHO SANTA FE', 'SAN MARCOS', 'SAN DIEGO', 'CORONADO', 'SAN YSIDRO']

In [33]:
san_diego_relief = data[data.City.isin(san_cou)]

In [34]:
san_diego_relief

                                     Provider Name  ...    Payment
12228   ACCORD HOSPICE OF THE WHITE MOUNTAINS, LLC  ...  $195,862
12229              ADVANCED HEALTH AND WELLNESS AZ  ...   $23,769
12230                         DAVID V PLATT DDS PC  ...   $11,149
12231           FIKES ORTHOPEDIC SPECIALTIES, INC.  ...    $6,841
12232                            HAVEN OF LAKESIDE  ...  $810,022
...                                            ...  ...        ...
416981                     SPRING VALLEY DENTISTRY  ...   $36,926
416982                      SPRING VALLEY DRUG INC  ...       $20
416983    SPRING VALLEY HEALTH CARE SERVICES, INC.  ...  $405,758
420053                              ALPINE EMS INC  ...      $888
420054                         OUR VALLEY PHARMACY  ...    $2,668

[4570 rows x 4 columns]