Understanding the distribution of COVID-Relief funds in San Diego and predicting impact of future distribution in minority communities

Import Necessary library

In [414]:
import pandas as pd 
import numpy as np 
import seaborn as sns
sns.set(style='white', palette='muted', color_codes=True)
import plotly.express as px 
import io 
import matplotlib.pyplot as plt
plt.style.use('ggplot')

Import the file

In [415]:
data = pd.read_csv(r'C:\Data-Analysis\Provider\HHS_San_Diego.csv')

In [416]:
data

,Provider Name,State,City,Payment
0,BRANDON ASTIN DMD LLC,AK,ANCHOR POINT,"$113,026"
1,ELIZABETH WATNEY,AK,ANCHOR POINT,$724
2,HAPPY VALLEY ASSISTED LIVING LLC,AK,ANCHOR POINT,"$12,664"
3,A HAND UP BEHAVIOR SERVICES,AK,ANCHORAGE,"$1,191"
4,A JOINT EFFORT PHYSICAL THERAPY,AK,ANCHORAGE,"$25,480"
...,...,...,...,...
420917,"JEFFRIES DENTAL,PC",WY,WORLAND,"$25,776"
420918,UROLOGICAL SERVICES OF NORTHERN WYOMING PROFES...,WY,WORLAND,"$8,883"
420919,WORLAND PHARMACY INC,WY,WORLAND,$137
420920,WORLAND PHYSICAL THERAPY,WY,WORLAND,"$11,498"
420921,WORLAND SLEEP DIAGNOSTICS LLC,WY,WORLAND,"$2,009"

In [417]:
san = ['CA']

In [418]:
new_san = data[data.State.isin(san)]

In [419]:
new_san

                         Provider Name State          City    Payment
18087                   ARTURO CORDOVA    CA         ACTON    $1,218
18088            ELITE HOME CARE, INC.    CA         ACTON  $118,535
18089           JAMES A. SCHAUBEL, DDS    CA         ACTON   $12,031
18090                     PHILIP PINTO    CA         ACTON    $2,120
18091    SANTIAGO PHYSICAL THERAPY INC    CA         ACTON    $3,337
...                                ...   ...           ...        ...
70148                VALARIE CARPENTER    CA  YUCCA VALLEY    $1,682
70149                  YANE DAVID LEVY    CA  YUCCA VALLEY   $56,327
70150             YOONHO CHANG DDS INC    CA  YUCCA VALLEY   $80,913
70151  YUCCA FAMILY MEDICAL CARE, INC.    CA  YUCCA VALLEY  $209,926
70152     YUCCA VALLEY URGENT CARE INC    CA  YUCCA VALLEY    $5,676

[52066 rows x 4 columns]

In [420]:
san_cou = ['ALPINE', 'BONITA', 'BOULEVARD', 'CAMPO', 'CHULA VISTA', 'DESCANSO', 'DULZURA', 'GUATAY', 'IMPERIAL BEACH', 'JACUMBA', 'JAMUL', 'LA MESA', 'LEMON GROVE', 'LINCOLN ACRES', 'NATIONAL CITY', 'PINE VALLEY', 'POTRERO', 'SPRING VALLEY', 'TECATE', 'BONSALL', 'BORRENGO SPRINGS', 'OCOTILLO WELLS', 'CARDIFF BY THE SEA', 'CARLSBAD', 'DEL MAR', 'EL CAJON', 'ENCINITAS', 'ESCONDIDO', 'FALLBROOK', 'JULIAN', 'LA JOLLA', 'LAKESIDE', 'OCEANSIDE', 'CAMP PENDLETON', 'PALA', 'PALOMAR MOUNTAIN', 'PAUMA VALLEY', 'POWAY', 'RAMONA', 'RANCHITA', 'WARNER SPRINGS', 'RANCHO SANTA FE', 'SAN RUIS REY', 'SAN MARCOS', 'SANTA YSABEL', 'SANTEE', 'SOLANA BEACH', 'SAN MARCOS', 'VISTA', 'VALLEY CENTER', 'FALLBROOK', 'EL CAJON', 'RANCHO SANTA FE', 'SAN MARCOS', 'SAN DIEGO', 'CORONADO', 'SAN YSIDRO']

In [421]:
san_diego_relief = new_san[new_san.City.isin(san_cou)]

In [422]:
san_diego_relief

,Provider Name,State,City,Payment
18645,2120 ALPINE BLVD,CA,ALPINE,"$280,570"
18646,A J KLEIN MD A PROFESSIONAL CORPORATION,CA,ALPINE,"$1,401"
18647,"ALPINE PHYSICAL THERAPY & WELLNESS CENTER, INC",CA,ALPINE,"$31,770"
18648,"CYNTHIA L JACKSON, DDS, MS INC.",CA,ALPINE,"$11,724"
18649,"JONAR R. BONIFACIO, DDS, INC.",CA,ALPINE,"$36,217"
...,...,...,...,...
67966,VISTA HOSPICE CARE INC,CA,VISTA,"$151,702"
67967,VISTA PHYSICAL THERAPY AND REHAB PC,CA,VISTA,"$15,557"
67968,VISTA POST ACUTE CENTER LLC,CA,VISTA,"$1,317,998"
67969,"WENDY SHUMATE, MD",CA,VISTA,"$11,756"
67970,XIANGLI LI MD PC,CA,VISTA,"$4,828"

In [423]:
df = san_diego_relief.reset_index(inplace=False, drop=True)

In [424]:
df

,Provider Name,State,City,Payment
0,2120 ALPINE BLVD,CA,ALPINE,"$280,570"
1,A J KLEIN MD A PROFESSIONAL CORPORATION,CA,ALPINE,"$1,401"
2,"ALPINE PHYSICAL THERAPY & WELLNESS CENTER, INC",CA,ALPINE,"$31,770"
3,"CYNTHIA L JACKSON, DDS, MS INC.",CA,ALPINE,"$11,724"
4,"JONAR R. BONIFACIO, DDS, INC.",CA,ALPINE,"$36,217"
...,...,...,...,...
4237,VISTA HOSPICE CARE INC,CA,VISTA,"$151,702"
4238,VISTA PHYSICAL THERAPY AND REHAB PC,CA,VISTA,"$15,557"
4239,VISTA POST ACUTE CENTER LLC,CA,VISTA,"$1,317,998"
4240,"WENDY SHUMATE, MD",CA,VISTA,"$11,756"
4241,XIANGLI LI MD PC,CA,VISTA,"$4,828"

DROP UNWANTED COLUMNS

In [425]:
# df.drop(columns='index')

Find Missing Values

In [426]:
df.isna().sum()

Provider Name    0
State            0
City             0
Payment          0
dtype: int64

In [427]:
df.duplicated().sum()

0

In [428]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4242 entries, 0 to 4241
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Provider Name  4242 non-null   object
 1   State          4242 non-null   object
 2   City           4242 non-null   object
 3   Payment        4242 non-null   object
dtypes: object(4)
memory usage: 132.7+ KB

In [429]:
df['Payment'] = df['Payment'].str.replace('$', '')
df['Payment'] = df['Payment'].str.replace(',', '')

In [430]:
df

                                       Provider Name State    City   Payment
0                                   2120 ALPINE BLVD    CA  ALPINE   280570
1            A J KLEIN MD A PROFESSIONAL CORPORATION    CA  ALPINE     1401
2     ALPINE PHYSICAL THERAPY & WELLNESS CENTER, INC    CA  ALPINE    31770
3                    CYNTHIA L JACKSON, DDS, MS INC.    CA  ALPINE    11724
4                      JONAR R. BONIFACIO, DDS, INC.    CA  ALPINE    36217
...                                              ...   ...     ...       ...
4237                          VISTA HOSPICE CARE INC    CA   VISTA   151702
4238             VISTA PHYSICAL THERAPY AND REHAB PC    CA   VISTA    15557
4239                     VISTA POST ACUTE CENTER LLC    CA   VISTA  1317998
4240                               WENDY SHUMATE, MD    CA   VISTA    11756
4241                                XIANGLI LI MD PC    CA   VISTA     4828

[4242 rows x 4 columns]

In [431]:
df['Payment'] = df['Payment'].astype('int64')

In [432]:
df

                                       Provider Name State    City  Payment
0                                   2120 ALPINE BLVD    CA  ALPINE   280570
1            A J KLEIN MD A PROFESSIONAL CORPORATION    CA  ALPINE     1401
2     ALPINE PHYSICAL THERAPY & WELLNESS CENTER, INC    CA  ALPINE    31770
3                    CYNTHIA L JACKSON, DDS, MS INC.    CA  ALPINE    11724
4                      JONAR R. BONIFACIO, DDS, INC.    CA  ALPINE    36217
...                                              ...   ...     ...      ...
4237                          VISTA HOSPICE CARE INC    CA   VISTA   151702
4238             VISTA PHYSICAL THERAPY AND REHAB PC    CA   VISTA    15557
4239                     VISTA POST ACUTE CENTER LLC    CA   VISTA  1317998
4240                               WENDY SHUMATE, MD    CA   VISTA    11756
4241                                XIANGLI LI MD PC    CA   VISTA     4828

[4242 rows x 4 columns]

In [433]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4242 entries, 0 to 4241
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Provider Name  4242 non-null   object
 1   State          4242 non-null   object
 2   City           4242 non-null   object
 3   Payment        4242 non-null   int64
dtypes: int64(1), object(3)
memory usage: 132.7+ KB

In [434]:
# df.plot.pie(x='City', y='Payment', rot=90, figsize=(20,10))

SAVE THE FILE
data = pd.read_csv(r'C:\Data-Analysis\Provider\HHS_San_Diego.csv')

In [435]:
df.to_csv(r'C:\Data-Analysis\Provider\clean_prov_dat.csv')

In [436]:
df.describe()

            Payment
count  4.242000e+03
mean   2.198212e+05
std    3.258272e+06
min    2.000000e+00
25%    2.325500e+03
50%    1.314450e+04
75%    4.997850e+04
max    1.452183e+08

#MACHINE LEARNING

In [437]:

from sklearn.preprocessing import LabelEncoder,OneHotEncoder,OrdinalEncoder,StandardScaler,MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import r2_score, mean_squared_error, accuracy_score,confusion_matrix,silhouette_score, adjusted_rand_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.compose import ColumnTransformer
import warnings
warnings.filterwarnings('ignore')
from sklearn.neighbors import KNeighborsClassifier
from sklearn.pipeline import Pipeline
from sklearn.decomposition import PCA 
from sklearn.cluster import KMeans

First Step is determining What regression to use based on data type. This is the formular and result

In [438]:
target_count = df['Payment'].value_counts()

In [439]:
target_count

15       6
187      5
8        5
321      5
67       4
        ..
60528    1
82954    1
65451    1
13047    1
4828     1
Name: Payment, Length: 3894, dtype: int64

Looking Above, you can see that the variable is continous thus am going to Label Encode it

Assign x and y values

Since is OneHot, transform the values

In [440]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4242 entries, 0 to 4241
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Provider Name  4242 non-null   object
 1   State          4242 non-null   object
 2   City           4242 non-null   object
 3   Payment        4242 non-null   int64
dtypes: int64(1), object(3)
memory usage: 132.7+ KB

In [442]:
features = df.drop(['Payment'], axis=1)

In [448]:
preproc = ColumnTransformer(
    transformers = [ 
        ('num', StandardScaler(), ['Payment']),
        ('cat', OneHotEncoder(), ['Provider Name', 'State', 'City'])
    ]
)

In [456]:
x_features = df.drop(['Payment'], axis=1)
x = pd.DataFrame(preproc.fit_transform(x_features))
y = df['Payment']
y

ValueError: A given column is not a column of the dataframe