In [124]:
import pandas as pd 
import numpy as np 
import seaborn as sns
sns.set(style='white', palette='muted', color_codes=True)
import plotly.express as px 
import io 
import matplotlib.pyplot as plt
plt.style.use('ggplot')

In [125]:

from sklearn.preprocessing import LabelEncoder,OneHotEncoder,OrdinalEncoder,StandardScaler,MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression,LinearRegression
from sklearn.metrics import r2_score, mean_squared_error, accuracy_score,confusion_matrix,silhouette_score, adjusted_rand_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.compose import ColumnTransformer
import warnings
warnings.filterwarnings('ignore')
from sklearn.neighbors import KNeighborsClassifier
from sklearn.pipeline import Pipeline
from sklearn.decomposition import PCA 
from sklearn.cluster import KMeans

In [126]:
data = pd.read_csv(r'C:\Data-Analysis\Provider\HHS_San_Diego.csv')

In [127]:
data.columns = data.columns.str.replace(' ','')

In [128]:
data

,ProviderName,State,City,Payment
0,BRANDON ASTIN DMD LLC,AK,ANCHOR POINT,"$113,026"
1,ELIZABETH WATNEY,AK,ANCHOR POINT,$724
2,HAPPY VALLEY ASSISTED LIVING LLC,AK,ANCHOR POINT,"$12,664"
3,A HAND UP BEHAVIOR SERVICES,AK,ANCHORAGE,"$1,191"
4,A JOINT EFFORT PHYSICAL THERAPY,AK,ANCHORAGE,"$25,480"
...,...,...,...,...
420917,"JEFFRIES DENTAL,PC",WY,WORLAND,"$25,776"
420918,UROLOGICAL SERVICES OF NORTHERN WYOMING PROFES...,WY,WORLAND,"$8,883"
420919,WORLAND PHARMACY INC,WY,WORLAND,$137
420920,WORLAND PHYSICAL THERAPY,WY,WORLAND,"$11,498"
420921,WORLAND SLEEP DIAGNOSTICS LLC,WY,WORLAND,"$2,009"

In [129]:
san = ['CA']
new_san = data[data.State.isin(san)]
new_san

                          ProviderName State          City    Payment
18087                   ARTURO CORDOVA    CA         ACTON    $1,218
18088            ELITE HOME CARE, INC.    CA         ACTON  $118,535
18089           JAMES A. SCHAUBEL, DDS    CA         ACTON   $12,031
18090                     PHILIP PINTO    CA         ACTON    $2,120
18091    SANTIAGO PHYSICAL THERAPY INC    CA         ACTON    $3,337
...                                ...   ...           ...        ...
70148                VALARIE CARPENTER    CA  YUCCA VALLEY    $1,682
70149                  YANE DAVID LEVY    CA  YUCCA VALLEY   $56,327
70150             YOONHO CHANG DDS INC    CA  YUCCA VALLEY   $80,913
70151  YUCCA FAMILY MEDICAL CARE, INC.    CA  YUCCA VALLEY  $209,926
70152     YUCCA VALLEY URGENT CARE INC    CA  YUCCA VALLEY    $5,676

[52066 rows x 4 columns]

In [130]:
san_cou = ['ALPINE', 'BONITA', 'BOULEVARD', 'CAMPO', 'CHULA VISTA', 'DESCANSO', 'DULZURA', 'GUATAY', 'IMPERIAL BEACH', 'JACUMBA', 'JAMUL', 'LA MESA', 'LEMON GROVE', 'LINCOLN ACRES', 'NATIONAL CITY', 'PINE VALLEY', 'POTRERO', 'SPRING VALLEY', 'TECATE', 'BONSALL', 'BORRENGO SPRINGS', 'OCOTILLO WELLS', 'CARDIFF BY THE SEA', 'CARLSBAD', 'DEL MAR', 'EL CAJON', 'ENCINITAS', 'ESCONDIDO', 'FALLBROOK', 'JULIAN', 'LA JOLLA', 'LAKESIDE', 'OCEANSIDE', 'CAMP PENDLETON', 'PALA', 'PALOMAR MOUNTAIN', 'PAUMA VALLEY', 'POWAY', 'RAMONA', 'RANCHITA', 'WARNER SPRINGS', 'RANCHO SANTA FE', 'SAN RUIS REY', 'SAN MARCOS', 'SANTA YSABEL', 'SANTEE', 'SOLANA BEACH', 'SAN MARCOS', 'VISTA', 'VALLEY CENTER', 'FALLBROOK', 'EL CAJON', 'RANCHO SANTA FE', 'SAN MARCOS', 'SAN DIEGO', 'CORONADO', 'SAN YSIDRO']

In [131]:
san_diego_relief = new_san[new_san.City.isin(san_cou)]
san_diego_relief

,ProviderName,State,City,Payment
18645,2120 ALPINE BLVD,CA,ALPINE,"$280,570"
18646,A J KLEIN MD A PROFESSIONAL CORPORATION,CA,ALPINE,"$1,401"
18647,"ALPINE PHYSICAL THERAPY & WELLNESS CENTER, INC",CA,ALPINE,"$31,770"
18648,"CYNTHIA L JACKSON, DDS, MS INC.",CA,ALPINE,"$11,724"
18649,"JONAR R. BONIFACIO, DDS, INC.",CA,ALPINE,"$36,217"
...,...,...,...,...
67966,VISTA HOSPICE CARE INC,CA,VISTA,"$151,702"
67967,VISTA PHYSICAL THERAPY AND REHAB PC,CA,VISTA,"$15,557"
67968,VISTA POST ACUTE CENTER LLC,CA,VISTA,"$1,317,998"
67969,"WENDY SHUMATE, MD",CA,VISTA,"$11,756"
67970,XIANGLI LI MD PC,CA,VISTA,"$4,828"

In [132]:
df = san_diego_relief.reset_index(inplace=False, drop=True)

In [133]:
df['Payment'] = df['Payment'].str.replace('$', '')
df['Payment'] = df['Payment'].str.replace(',', '')

In [134]:
df

                                        ProviderName State    City   Payment
0                                   2120 ALPINE BLVD    CA  ALPINE   280570
1            A J KLEIN MD A PROFESSIONAL CORPORATION    CA  ALPINE     1401
2     ALPINE PHYSICAL THERAPY & WELLNESS CENTER, INC    CA  ALPINE    31770
3                    CYNTHIA L JACKSON, DDS, MS INC.    CA  ALPINE    11724
4                      JONAR R. BONIFACIO, DDS, INC.    CA  ALPINE    36217
...                                              ...   ...     ...       ...
4237                          VISTA HOSPICE CARE INC    CA   VISTA   151702
4238             VISTA PHYSICAL THERAPY AND REHAB PC    CA   VISTA    15557
4239                     VISTA POST ACUTE CENTER LLC    CA   VISTA  1317998
4240                               WENDY SHUMATE, MD    CA   VISTA    11756
4241                                XIANGLI LI MD PC    CA   VISTA     4828

[4242 rows x 4 columns]

In [135]:
df.isna().sum()

ProviderName    0
State           0
City            0
Payment         0
dtype: int64

In [136]:
df.duplicated().sum()

0

In [137]:
features = df.drop('Payment', axis=1)
y = df['Payment']

In [138]:
features

                                        ProviderName State    City
0                                   2120 ALPINE BLVD    CA  ALPINE
1            A J KLEIN MD A PROFESSIONAL CORPORATION    CA  ALPINE
2     ALPINE PHYSICAL THERAPY & WELLNESS CENTER, INC    CA  ALPINE
3                    CYNTHIA L JACKSON, DDS, MS INC.    CA  ALPINE
4                      JONAR R. BONIFACIO, DDS, INC.    CA  ALPINE
...                                              ...   ...     ...
4237                          VISTA HOSPICE CARE INC    CA   VISTA
4238             VISTA PHYSICAL THERAPY AND REHAB PC    CA   VISTA
4239                     VISTA POST ACUTE CENTER LLC    CA   VISTA
4240                               WENDY SHUMATE, MD    CA   VISTA
4241                                XIANGLI LI MD PC    CA   VISTA

[4242 rows x 3 columns]

In [139]:
city = df['City']

You are getting this error because the transformer is transforming Payment, but the fit_transform doesn't have Payment

Since I need the payment for prediction, I am going to leave it the

In [140]:
full_pipeline = ColumnTransformer( [ 
    # ('num', StandardScaler(), ['Payment']),
    ('cat', OneHotEncoder(), ['City']),
    
])
# df.drop('Payment', axis=1)
X = full_pipeline.fit_transform(city)
# y
X.head()

IndexError: tuple index out of range

In [ ]:
x = full_pipeline.fit_transform(df.drop('Payment', axis=1))

ValueError: A given column is not a column of the dataframe

In [ ]:
#----------------------------------------------------------------------

In [ ]:
numeric_feat = df.select_dtypes(include= ['float64']).columns

In [ ]:
cat_val = df.select_dtypes(exclude= ['float64']).columns

In [ ]:
num_transformer = Pipeline ( 
    steps = [('scaler', StandardScaler())]
)

In [ ]:
cat_transformer = OneHotEncoder(handle_unknown='ignore')

In [ ]:
# city = df['City']
# true_labels = cat_transformer.fit_transform(city)
# df = pd.get_dummies(df, dtype=float)

In [ ]:
preprocessor = ColumnTransformer( 
    transformers = [ 
        ('num', num_transformer, numeric_feat),
        ('cat', cat_transformer, cat_val),
    ]
    
)

In [ ]:
# df = pd.DataFrame(df)

In [ ]:
# df

In [ ]:
X = pd.DataFrame(preprocessor.fit_transform(df))

In [ ]:
X.head()

                                                   0
0    (0, 1)\t1.0\n  (0, 4233)\t1.0\n  (0, 4234)\t...
1    (0, 7)\t1.0\n  (0, 4233)\t1.0\n  (0, 4234)\t...
2    (0, 157)\t1.0\n  (0, 4233)\t1.0\n  (0, 4234)...
3    (0, 756)\t1.0\n  (0, 4233)\t1.0\n  (0, 4234)...
4    (0, 1872)\t1.0\n  (0, 4233)\t1.0\n  (0, 4234...

In [ ]:
Z = preprocessor.fit_transform(df)

In [ ]:
Z.head()

AttributeError: head not found

In [ ]:
X_n = df.drop(columns=['Payment'], axis=1)
y = df['Payment']
X_n.columns

Index(['ProviderName', 'State', 'City'], dtype='object')

In [ ]:
X=df

In [ ]:
# y

In [ ]:
# X.head()

In [ ]:
numeric_feats = ['Payment']
categorical_feats = ['City']
passthrough_feats = ['State']
drop_feats = ['ProviderName']

In [ ]:
# ct = ColumnTransformer( 
#     transformers= [ 
#         ('standardscaler', StandardScaler(), ['Payment']),
#         ('onehotencorder', OneHotEncoder(), ['City'])
#         ('passthrough', 'passthrough', ['State']),
#         ('drop', 'drop', ['ProviderName'])
#     ]
# )

TypeError: 'tuple' object is not callable

In [ ]:
# ct = ColumnTransformer( 
#     [ 
#         ('scaling', StandardScaler(), numeric_feats),
#         ('onehot', OneHotEncoder(sparse=False), categorical_feats)
#     ]
# )

In [ ]:
# preprocessor = ColumnTransformer( 
#     transformers = [ 
#         ('num', num_transformer, numeric_feat),
#         ('cat', cat_transformer, cat_val)
#     ],
#     ignore_missing=True
# )