Predictive analysis uses historical data to determine future occurrences thus adjusting resources and decisions.

Steps Include 
1) Collecting the data from multiple sources 

2) Analyzing the data -- cleaning by removing redundant data, duplicate, manipulating the data or structuring the data as needed 

3) Feature engineering  -- raw observation or data is transformed into desired features using statistical or machine learning methods 
=> Important to not a feature is any quantifiable input to be used in predictive analysis

4) Data modelling -- Predictive model building starts here  and uses Predictive analytics tools like Classification or Clustering. Algorithms are implemented based on observed patterns

5) Estimation of performance -- Essentially checks efficiency of the model. Its advised to repeat the data modelling procedure n estimation for performance efficiency determination/achievement

In [54]:
# Load necessary labs to include the machine learning libraries. 
import pandas as pd 
import numpy as np 
import seaborn as sns
sns.set(style='white', palette='muted', color_codes=True)
import matplotlib.pyplot as plt 
plt.style.use('ggplot')
import plotly.express as px

from sklearn.impute import SimpleImputer

In [55]:
#Load the data
df = pd.read_csv(r"C:\Github\Fullstack-Data-Analyst\Learning\the_data\data-lab-5-hcv.csv")

In [56]:
#load first row
df.head(2)

,Unnamed: 0,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT
0,1,0=Blood Donor,32,m,38.5,52.5,7.7,22.1,7.5,6.93,3.23,106.0,12.1,69.0
1,2,0=Blood Donor,32,m,38.5,70.3,18.0,24.7,3.9,11.17,4.80,74.0,15.6,76.5

In [57]:
#get the info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 615 entries, 0 to 614
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  615 non-null    int64
 1   Category    615 non-null    object
 2   Age         615 non-null    int64
 3   Sex         615 non-null    object
 4   ALB         614 non-null    float64
 5   ALP         597 non-null    float64
 6   ALT         614 non-null    float64
 7   AST         615 non-null    float64
 8   BIL         615 non-null    float64
 9   CHE         615 non-null    float64
 10  CHOL        605 non-null    float64
 11  CREA        615 non-null    float64
 12  GGT         615 non-null    float64
 13  PROT        614 non-null    float64
dtypes: float64(10), int64(2), object(2)
memory usage: 67.4+ KB

In [58]:
#check missing numbers and remove them
df.isna().sum()

Unnamed: 0     0
Category       0
Age            0
Sex            0
ALB            1
ALP           18
ALT            1
AST            0
BIL            0
CHE            0
CHOL          10
CREA           0
GGT            0
PROT           1
dtype: int64

In [59]:
#Using impute function
# mean_impu = SimpleImputer(missing_values=np.NaN, strategy='mean')
# mode_impu = SimpleImputer(missing_values=np.NaN, strategy='most_frequent')
# median_impu = SimpleImputer(missing_values=np.NaN, strategy='median')

In [60]:
#using fillna 
df['ALB'].fillna(method='ffill', inplace=True)
df['ALP'].fillna(method='bfill', inplace=True)


#Using mean or mode
alt_mean = df['ALT'].mean()
df['ALT'].fillna(value=alt_mean, inplace=True)

#Fill with specific values
df['ALP'].fillna(60, inplace=True)


#Using SImple imputer
mean_impu = SimpleImputer(missing_values=np.NaN, strategy='mean')
df['CHOL'] = mean_impu.fit_transform(df[['CHOL']])

mode_impu = SimpleImputer(missing_values=np.NaN, strategy='most_frequent')
df.PROT = mode_impu.fit_transform(df[['PROT']])

In [61]:
            #check if missing values is still there
# df.isna().sum()

In [62]:
            #Check for duplicates
df.duplicated().sum()

0

Conduct a feature engineering

In [ ]:
#decide what columns you want to use by dropping unnecessary columns

#Create a copy of the new columns

#

Build the Model --- train test, logistic regression, predict test

Evaluate model performance -- classification report, roc curve